<div class="relative min-h-screen flex flex-col justify-center items-center">
  <img
    src="assets/fundo2.png"
    alt="Fundo"
    class="absolute inset-0 w-full h-full object-cover"
  />

  <div class="absolute inset-0 bg-black opacity-70"></div>

  <div class="relative text-center text-white p-6 bg-black bg-opacity-80 rounded-lg w-full max-w-md">
    <img
      src="assets/logoze.jpg"
      alt="Zé Cortes"
      class="mx-auto w-32 h-32 mb-4 rounded-full"
    />

    <p class="text-sm font-medium mb-6">
      Somos apaixonados no cuidado do seu estilo
    </p>

    <button
      (click)="goToRegister()"
      class="w-full py-3 bg-red-500 text-white font-bold rounded-lg hover:bg-yellow-600 transition mb-2"
    >
      AGENDE UM HORÁRIO
    </button>

    <p class="text-xs text-gray-300 mt-4">Consulte Disponibilidade</p>
  </div>

  <button
    (click)="goToPortal()"
    class="fixed bottom-4 right-4 py-3 px-6 bg-red-500 text-white font-bold rounded-lg hover:bg-yellow-600 transition z-50"
  >
    PORTAL DO BARBEIRO
  </button>
</div>
